apiVersion: apps/v1

kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: registry.gitlab.com/mehdi.forati/ma-todo-projet/backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "mysqldb" 
        - name: DB_PASSWORD
          value: "root"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000